<div class="panel panel-info">
	<div class="panel-heading"><h2>Add DOI</h2></div>
	<div class="panel-body">
		<%= render 'form' %>
		<%= link_to 'Back', dois_path, :class => 'btn btn-default' %>
	</div>
</div>
