<div class="jumbotron"><div class="page-header"><h1>DOI Server</h1></div>
<p>Welcome to the DOI Server. With the DOI Server, you will be able to create, view, review and modify
all types of DOIs. This is a free service brought to you by Professor Tyson's CINS 465 class. There are a
few restrictions that are placed on users with this application. Hopefully, the following information
will be useful for you.</p>

<p><strong>1.</strong> Non-members can view the most recent URL associated with a DOI.</p>
<p><strong>2.</strong> Registered members can create DOIs.</p>
<p><strong>3.</strong> Only the owner of the DOI can edit it.</p>
<p><strong>4.</strong> Registered users can review a DOI</p>
<p><strong>5.</strong> Registered users can view the details/history/reviews of any DOI.</p>
<br>

<div class="container">
<div class="col-md-4">
  <p class="text-center">
    <a href="/users/sign_in" class="btn btn-primary btn-lg btn-block">Sign In</a>
    <a href="/users/sign_up" class="btn btn-default btn-lg btn-block">Sign Up</a>
  </p>
</div>
</div>
</div>
